<!DOCTYPE html>
<html>
  <head>
    <title>786</title>
    <!-- stylesheets -->
    <link rel='stylesheet' href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css'/>
    <link href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
    <link href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="stylesheets/animate.css">
    <link rel='stylesheet' href='stylesheets/style.css' />
    <!-- scripts -->
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script type='text/javascript' src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'></script>
    <script src="javascripts/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
    <script>
      $(document).ready(function() {
          var $header = $("header")
            , $clone = $header.before($header.clone().addClass("clone"));
  
          $(window).on("scroll", function() {
              $("body").toggleClass("down", ($(window).scrollTop() > 400));
          });
      });
    </script>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="Description" content="Services Company">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="msvalidate.01" content="D05BC4FC5F616D6A06301CBDF35CF039"/>
  </head>
  <body>
    <header>
      <ul>
          <li class="header-link"><h2 style="display: inline">7</h2><h3 style="display: inline">8</h3><h2 style="display: inline">6</h2></li>
          <li><a class="margin-left-30 header-link font-14" href="#">Home</a></li>
          <li><a class="margin-left-30 header-link font-14" href="#frameworks">Frameworks</a></li>
          <li><a class="margin-left-30 header-link font-14" href="#contact">Contact</a></li>
          <li><a class="margin-left-30 header-link font-14" href="#">About</a><li>
      </ul>
    </header>
    <div class="row info-bar">
      <div class="col-xs-6">
        <h1 style="font-weight: 300; margin-left: 75px; margin-top:90px;">Our Company</h1>
        <h4 style="font-weight: 300; margin-left: 75px;">Provides a Full Service Digital Marketing Solutions for <br> your Organization</h4>
      </div>
      <div class="col-xs-6">
        <img src="./images/apple-bg.jpg" style="width: 600px">
      </div>
    </div>
    <div class="container">
      <h2 style="font-weight: 400;">Simple Process Flow</h2>
      <div class="row">
        <div class="col-xs-3">
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-user fa-stack-1x fa-inverse"></i>
          </span><br>
          <h4 style="font-weight: 300">Place an order</h4>
        </div>
        <div class="col-xs-1" style="margin-top: 35px; margin-left: 10px; margin-right:5px;">
          <i class="glyphicon glyphicon-play"></i>
        </div>
        <div class="col-xs-3" >
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
          </span><br>
          <h4 style="font-weight: 300">We work on your order</h4>
        </div>
        <div class="col-xs-1" style="margin-top: 35px; margin-left: 10px; margin-right: 5px;">
          <i class="glyphicon glyphicon-play"></i>
        </div>
        <div class="col-xs-3" >
          <span class="fa-stack fa-4x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
          </span><br>
          <h4 style="font-weight: 300">Your Order is ready for Launch</h4>
        </div>
      </div>
      <div style="margin-top: 30px;" id="frameworks">
        <small>786's hand picked professional team provides you with a right mix of technicality and creatvity. Our solutions meet the demands of our clients and help them grow in there market.</small>
      </div>
      <div class="row">
        <div class="col-xs-5 wow slideInLeft">
          <hr>
        </div>
        <div class="col-xs-2" style="margin-top: 10px;">
          <small>More Details</small>
        </div>
        <div class="col-xs-5 wow slideInRight">
          <hr>
        </div>
      </div>
      <h1 class="text-center" style="font-weight: 300; margin-right:100px;">Work On Frameworks</h1>
      <div class="row wow fadeIn">
        <div class="col-xs-6 col-sm-offset-1 col-sm-3">
          <img src="./images/angular-logo.png" style="width:200px;">
        </div>
        <div class="col-xs-6">
          <h2 style="font-weight: 400;">AngularJs</h2>
          <p>Is a structural framework maintained by Google used for building dynamic websites</p>
        </div>
      </div>
      <div class="row wow fadeIn">
        <div class="col-xs-6">
          <h2 style="font-weight: 400;">NodeJs</h2>
          <p>Is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications</p>
        </div>
        <div class="col-xs-6 col-sm-offset-1 col-sm-3">
          <img src="./images/nodejs.png" style="width:200px;">
        </div>
      </div>
      <div class="row wow fadeIn">
        <div class="col-xs-6 col-sm-offset-1 col-sm-3">
          <img src="./images/android-logo.png" style="width:200px;">
        </div>
        <div class="col-xs-6">
          <h2 style="font-weight: 400;">Android™</h2>
          <p>Delivers a complete set of software for mobile devices</p>
        </div>
      </div>
      <hr>
      <h2 style="font-weight: 300;" id="contact" class="text-center">We would love to hear from you</h2>
      <form role="form" style="margin-top: 20px;">
        <div class="form-group row">
          <div class="col-xs-2 col-sm-1">
            <label for="email">Email</label>
          </div>
          <div class="col-xs-8 col-sm-4">
            <input type="email" class="form-control" id="email" placeholder="Enter your email">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-2 col-sm-1">
            <label for="message">Message</label>
          </div>
          <div class="col-xs-8 col-sm-4">
            <textarea type="text" rows="6" class="form-control" id="meassage" placeholder="Message" style="resize:none"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <hr>
    </div>
  </body>
</html>